body {
     background-color: #000333;
}

#container {
     margin: 0 auto;
     height: 500px;
     width: 300px;
     background-color: gray;
     border-radius: 5px;
     box-shadow: 5px 3px 5px black;
     box-sizing: border-box;
}

#result {
     padding-top: 10px;
     background-color:blueviolet ;
     height: 100px;
     text-align: right;
     font-weight: bolder;
     font-size: 2rem;
}



#result > p {
     margin: 10px 5px 15px 0;
}

#keyboard {
     position: relative;
     left: 16px;
     margin-top: 20px;
}

button {
     font-size: 1rem;
     font-weight: bolder;
     margin: 8px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     float: left;
    border: none;
    cursor: pointer;
}

.empty {
     background-color: gray;
}

.operator:active {
     font-size: .8rem;
}

.number:active {
     font-size: 0.8rem;
}